@model ShinyTodoWebApp.Models.Todo
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
</head>
<body>
    <h1>
        Add new todo
    </h1>

        @using (Html.BeginForm("add", "todo"))
        {
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(t => t.Title) <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(t => t.Title)
                    </td>
                </tr>
            </table>
            <br /><button type="submit" style="font-family: Special Elite; font-size: 25px">Add to the list</button>
        }

</body>
</html>